/*****************************************************************************
This file contains generic style for the whole site. For example, it contains
style for headings, paragraphs, the body element, and fonts.
*****************************************************************************/

:root {
    color: var(--main-text-colour);

    font:
        16px Arial,
        Helvetica,
        sans-serif;
}

/* The colour of highlighted text */
::selection {
    background-color: var(--highlight-colour);
    color: var(--main-bg-colour);
}

body {
    background-color: var(--distant-bg-colour);
}

/* Main area for displaying content */
main {
    background-color: var(--main-bg-colour);

    width: 66.66%;
    margin: 0em auto;
    padding: 1em;

    border: var(--border-width) solid var(--main-accent-colour);
    border-radius: 1em;
}

h1 {
    /* TODO */
}

h2 {
    /* TODO */
}

h3 {
    /* TODO */
}

h4 {
    /* TODO */
}

h5 {
    /* TODO */
}

h6 {
    /* TODO */
}

p {
    /* TODO */
}

em {
    /* TODO */
}

strong {
    /* TODO */
}

/* A hyperlink (<a> tag) that looks and feels like a button */
a.link-button {
    display: inline-block;

    color: inherit;
    text-decoration: inherit;
    text-align: center;

    background-color: var(--element-bg-colour);

    border: var(--border-width) solid var(--main-accent-colour);
    border-radius: 1.25em;

    padding: 0 0.5em;

    transition: background-color 64ms;
}

a.link-button:hover {
    background-color: var(--distant-bg-colour);
}

a.link-button:active {
    transition: background-color 0ms;

    background-color: var(--highlight-colour);
    color: var(--element-bg-colour);
}

@media (max-width: 1200px) {
    main {
        width: 75%;
    }
}

@media (max-width: 992px) {
    main {
        width: 80%;
    }
}

@media (max-width: 768px) {
    main {
        width: 90%;
    }
}

@media (max-width: 576px) {
    main {
        width: 100%;
    }
}
