/*****************************************************************************
This file contains generic style for the whole site. For example, it contains
style for headings, paragraphs, the body element, and fonts.
*****************************************************************************/

:root {
    color: var(--main-text-colour);

    font:
        16px Arial,
        Helvetica,
        sans-serif;
}

/* The colour of highlighted text */
::selection {
    background-color: var(--highlight-colour);
    color: var(--main-bg-colour);
}

body {
    background-color: var(--distant-bg-colour);
}

/* Main area for displaying content */
main {
    background-color: var(--main-bg-colour);

    width: 66.66%;
    margin: 0em auto;
    padding: 2em 1em;

    border: var(--default-border);
    border-radius: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0.75em 0 0.25em 0;
    font-style: italic;
    position: relative;
}

h2,
h3,
h4,
h5,
h6 {
    --heading-left-margin: 0.5em;
    margin-left: var(--heading-left-margin);
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    position: absolute;
    content: "";
    width: var(--decoration-line-thickness);
    height: 100%;
    vertical-align: middle;
    left: calc(var(--heading-left-margin) * -1);

    border-radius: calc(var(--decoration-line-thickness) / 2);
    background-color: var(--tertiary-accent-colour);
}

h1 {
    font-size: 2em;

    text-align: center;
    margin: 1em auto;
}

h1::after,
h1::before {
    width: 80%;
    height: var(--decoration-line-thickness);
    border-radius: calc(var(--decoration-line-thickness) / 2);

    display: block;
    background-color: var(--tertiary-accent-colour);
    content: "";

    vertical-align: middle;
    margin: 0.25em auto;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

*:has(> a.inline-text-link) {
    position: relative !important;
}

/*
This is a small hyperlink icon that will show before whatever element it is
put inside.

WARNING: This will set the parent element's position to "relative". This is
         needed because we need to create a new "containing block" in order to
         use absolute positioning on this element. It does look like there are
         other options for this I could consider in the future such as
         'transform: translate(0);'. See this link:
         https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_display/Containing_block
*/
a.inline-text-link {
    color: var(--secondary-element-colour);
    text-decoration: inherit;

    font-size: initial;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);

    /* Icon css copied from: https://icon-sets.iconify.design/tabler/link/ */
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m9 15l6-6m-4-3l.463-.536a5 5 0 0 1 7.071 7.072L18 13m-5 5l-.397.534a5.07 5.07 0 0 1-7.127 0a4.97 4.97 0 0 1 0-7.071L6 11'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/*
Style for A hyperlink (<a> tag) that looks and feels like a button as well as
literal buttons.
*/
a.link-button,
button {
    display: inline-block;

    color: var(--main-text-colour);
    text-decoration: inherit;
    text-align: center;

    background-color: var(--main-bg-colour);

    border: var(--default-border);
    border-radius: 1.25em;

    padding: 0 0.5em;

    cursor: pointer;

    transition: background-color 64ms;
}

a.link-button:hover,
button:hover {
    background-color: var(--selected-element-colour);
}

a.link-button:active,
button:active {
    transition: background-color 0ms;

    background-color: var(--secondary-accent-colour);
    color: var(--main-bg-colour);
}

/* EXAMPLE:
<button type="button" class="icon-button">
    <!-- Put an <svg aria-hidden="true" focusable="false"> tag here -->
    <!-- Good site for icons: https://iconify.design/ -->

    <!-- Text for screen readers (and the Lynx browser) -->
    <span class="hidden-text">Accessible description</span>
</button>
*/
button.icon-button {
    padding: 0.25em;
    border-radius: 9999em;
}

/*
Hide text that is intended for screen readers only.

NOTE: This does NOT hide text from the Lynx text based browser.

https://www.a11yproject.com/posts/how-to-hide-content/
*/
.hidden-text {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (992px <= width < 1200px) {
    main {
        width: 75%;
    }
}

@media (768px <= width < 992px) {
    main {
        width: 80%;
    }
}

@media (576px <= width < 768px) {
    main {
        width: 90%;
    }
}

@media (width < 576px) {
    main {
        width: 100%;
        border-radius: 1em;
    }
}
