/*****************************************************************************
This file contains generic style for the whole site. For example, it contains
style for headings, paragraphs, the body element, and fonts.
*****************************************************************************/

:root {
    color: var(--main-text-colour);

    font:
        16px Arial,
        Helvetica,
        sans-serif;
}

/* The colour of highlighted text */
::selection {
    background-color: var(--highlight-colour);
    color: var(--main-bg-colour);
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:target */
:target {
    /* TODO: Make this fade out after some time */

    /* background-color: var(--highlight-colour);
    border-radius: 0.25em; */
}

body {
    background-color: var(--distant-bg-colour);
}

/* Main area for displaying content */
main {
    background-color: var(--main-bg-colour);

    width: 66.66%;
    margin: 0em auto;
    padding: 1.5em 1em;

    border: var(--default-border);
    border-radius: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: italic;
    font-weight: bold;
    margin: 0.75em 0 0.25em 0;
    position: relative;

    --heading-left-margin: 0.5em;
    margin-left: var(--heading-left-margin);
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    position: absolute;
    content: "";
    width: var(--main-line-thickness);
    height: 100%;
    vertical-align: middle;
    left: calc(var(--heading-left-margin) * -1);

    border-radius: calc(var(--main-line-thickness) / 2);
    background-color: var(--tertiary-accent-colour);
}

h1 {
    font-size: 2.1em;
    text-align: center;
    margin: 1em auto;
}
h1::after,
h1::before {
    width: 80%;
    height: var(--main-line-thickness);
    border-radius: calc(var(--main-line-thickness) / 2);

    position: static;
    display: block;
    background-color: var(--heading1);
    content: "";

    vertical-align: middle;
    margin: 0.25em auto;
}

h2 {
    font-size: 2.1em;
}
h2::before {
    background-color: var(--heading2);
}

h3 {
    font-size: 1.5em;
}
h3::before {
    background-color: var(--heading3);
}

h4 {
    font-size: 1.2em;
}
h4::before {
    background-color: var(--heading4);
}

h5 {
    font-size: 1.05em;
}
h5::before {
    background-color: var(--heading5);
}

h6 {
    font-size: 0.975em;
}
h6::before {
    background-color: var(--heading6);
}

p {
    margin: 1em 0;
}

a {
    color: var(--hyperlink-colour);
    text-decoration: underline;
}

blockquote::before, blockquote::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1em;

    background-color: var(--secondary-accent-colour);

    /* Icon credit: https://icon-sets.iconify.design/tabler/quote-filled/ */
    display: inline-block;
    width: 2em;
    height: 2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9 5a2 2 0 0 1 2 2v6c0 3.13-1.65 5.193-4.757 5.97a1 1 0 1 1-.486-1.94C7.984 16.473 9 15.203 9 13v-1H6a2 2 0 0 1-1.995-1.85L4 10V7a2 2 0 0 1 2-2zm9 0a2 2 0 0 1 2 2v6c0 3.13-1.65 5.193-4.757 5.97a1 1 0 1 1-.486-1.94C16.984 16.473 18 15.203 18 13v-1h-3a2 2 0 0 1-1.995-1.85L13 10V7a2 2 0 0 1 2-2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
blockquote::after {
    margin-left: 100%;
    transform: translateX(-100%);
}
blockquote {
    background-color: var(--secondary-bg-colour);

    margin: 1em 10%;

    border: var(--thin-border);
    border-radius: 0.5em;
    padding: 0 0.25em;
}
blockquote > * {
    margin-left: 1em;
    margin-right: 1em;
}
blockquote > *:first-child {
    margin-top: 0;
}
blockquote > *:last-child {
    margin-bottom: 0;
}

/* Hyperlink around headings */
a.heading-anchor {
    color: inherit;
    text-decoration: inherit;
}

/*
Style for A hyperlink (<a> tag) that looks and feels like a button as well as
literal buttons.
*/
a.link-button,
button {
    display: inline-block;

    color: var(--main-text-colour);
    text-decoration: inherit;
    text-align: center;

    background-color: var(--main-bg-colour);

    border: var(--default-border);
    border-radius: 1.25em;

    padding: 0 0.5em;

    cursor: pointer;

    transition: background-color 64ms;
}

a.link-button:hover,
button:hover {
    background-color: var(--selected-element-colour);
}

a.link-button:active,
button:active {
    transition: background-color 0ms;

    background-color: var(--secondary-accent-colour);
    color: var(--main-bg-colour);
}

/* EXAMPLE:
<button type="button" class="icon-button">
    <!-- Put an <svg aria-hidden="true" focusable="false"> tag here -->
    <!-- Good site for icons: https://iconify.design/ -->

    <!-- Text for screen readers (and the Lynx browser) -->
    <span class="hidden-text">Accessible description</span>
</button>
*/
button.icon-button {
    padding: 0.25em;
    border-radius: 9999em;
}

/*
Hide text that is intended for screen readers only.

NOTE: This does NOT hide text from the Lynx text based browser.

https://www.a11yproject.com/posts/how-to-hide-content/
*/
.hidden-text {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.page-metadata-section {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    /* margin-top: 0.5em; */
}
.page-metadata {
    background-color: var(--secondary-bg-colour);
    border: var(--thin-border);
    border-radius: 1em;
    padding: 0 0.5em;

    overflow: hidden;
    text-wrap: nowrap;
}

@media (992px <= width < 1200px) {
    main {none
        width: 75%;
    }
}

@media (768px <= width < 992px) {
    main {
        width: 80%;
    }
}

@media (576px <= width < 768px) {
    main {
        width: 90%;
    }
}

@media (width < 576px) {
    main {
        width: 100%;
        border-radius: 1em;
    }

    .page-metadata-section {
        background-color: var(--secondary-bg-colour);
        border: var(--thin-border);
        border-radius: 1em;
        padding: 0.5em;
    }
    .page-metadata {
        background-color: initial;
        border: none;
        border-radius: 0;

        margin: auto;
    }
}
