/*****************************************************************************
This file contains misc css variables that are used throughout the website.
*****************************************************************************/

:root {
    --default-shadow: var(--shadow-colour) 0 2px 3px 1.5px;
    --default-border: var(--decoration-line-thickness) solid
        var(--main-accent-colour);
    --decoration-line-thickness: 3px;
}
