#nav-bar {
    background-color: var(--main-bg-colour);

    position: sticky;
    top: 1.25em;
    height: 2.5em;
    width: 33.33%;
    margin: 0 auto;
    padding: 0 0.5em;

    border: var(--default-border);
    border-radius: 1.25em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;

    z-index: 999;

    transition:
        top 100ms,
        border-radius 100ms,
        border-top 100ms,
        box-shadow 100ms;
}

#nav-bar.nav-bar-moving {
    top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: var(--default-shadow);
}

#nav-bar ol {
    margin: 0;
    padding: 0;

    width: 50%;

    white-space: nowrap;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5em;
}

#nav-bar ol li {
    list-style-type: none;

    display: inline-block;

    width: 50%;
}

#nav-bar ol li a {
    width: 100%;
    height: 100%;
}

#nav-bar .nav-bar-subheading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (992px <= width < 1200px) {
    /* do nothing */
}

@media (768px <= width < 992px) {
    #nav-bar {
        width: 50%;
    }
}

@media (576px <= width < 768px) {
    #nav-bar {
        width: 66.66%;
    }
}

@media (width < 576px) {
    #nav-bar {
        width: 66.66%;
    }

    #nav-bar .nav-bar-subheading {
        display: none;
    }

    #nav-bar ol {
        width: 100%;
    }
}
