/*****************************************************************************
Theme is based of Gruvbox. See the colour palette here:
https://github.com/morhetz/gruvbox-contrib
*****************************************************************************/

:root {
    --main-text-colour: #3c3836;
    --secondary-text-colour: #928374;

    --main-bg-colour: #fbf1c7;
    --secondary-bg-colour: #f2e5bc;
    --distant-bg-colour: #a89984;

    --selected-element-colour: #d5c4a1;

    --main-accent-colour: #458588;
    --secondary-accent-colour: #427b58;
    --tertiary-accent-colour: #d79921;

    --highlight-colour: #689d6a;
    --shadow-colour: #3c3836;
    --hyperlink-colour: #076678;
    --focus-ring-colour: #689d6a;

    --heading1: #d79921;
    --heading2: #98971a;
    --heading3: #689d6a;
    --heading4: #458588;
    --heading5: #b16286;
    --heading6: #cc241d;
}
