/*****************************************************************************
This file contains misc css that is unlikely to work if I ever switch away
from Zola. This is mainly because of classes that Zola creates with specific
names. Other static site generators may use different class names.
*****************************************************************************/

section.footnotes::before, hr {
    width: 100%;
    height: var(--main-line-thickness);
    border: none;
    border-radius: calc(var(--main-line-thickness) / 2);

    position: static;
    display: block;
    background-color: var(--main-accent-colour);
    content: "";

    vertical-align: middle;
    margin: 3rem auto;
}
section.footnotes ol {
    list-style-type: decimal;
}

/* Inline code and code blocks */
pre {
    overflow: auto;
}
code, pre.z-code {
    font-family: monospace;
    background-color: var(--secondary-bg-colour);

    border: var(--thin-border);
    border-radius: 0.5em;
    padding: 0 0.25em;
}
pre.z-code > code {
    background-color: initial;

    border: none;
    border-radius: initial;
    padding: initial;
}
pre.z-code {
    margin: 1em 0;
}

blockquote.markdown-alert-note {
    /*
    TODO: GitHub style markdown alerts:
        Do the regular blockquote tag first in main-style.css, then expand on
        it here using ::before to add the "NOTE:" text.
    */


    background-color: var(--secondary-bg-colour);
}
