/*
Dark theme is based of Gruvbox. See the colour palette here:
https://github.com/morhetz/gruvbox-contrib
*/

:root {
    --main-text-colour: #ebdbb2;

    --main-bg-colour: #282828;
    --distant-bg-colour: #7c6f64;
    --element-bg-colour: #32302f;

    --main-accent-colour: #458588;

    --highlight-colour: #b8bb26;

    --border-width: 3px;
}
