<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="color-scheme" content="dark light" />
        <meta
          name="description"
          content="{% block description %}Ollie Hunt's blog/personal website. I write about coding, computers, and anything else I find interesting.{% endblock description %}" />

        <title>{% block pageTitle %}Ollie's Website{% endblock pageTitle %}</title>

        <link rel="stylesheet" type="text/css" href="/css/css-reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/misc-variables.css" />

        <link rel="stylesheet" type="text/css" href="/css/theme-dark.css" media="(prefers-color-scheme: dark)" />
        <link rel="stylesheet" type="text/css" href="/css/theme-light.css" media="(prefers-color-scheme: light)" />
        <link rel="stylesheet" type="text/css" href="/css/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
        <link rel="stylesheet" type="text/css" href="/css/syntax-theme-light.css" media="(prefers-color-scheme: light)" />

        <link rel="stylesheet" type="text/css" href="/css/main-style.css" />
        <link rel="stylesheet" type="text/css" href="/css/zola-specific.css" />
        <link rel="stylesheet" type="text/css" href="/css/header-bar.css" />

        {% block extraStyle %}{% endblock extraStyle %}

        <script defer src="/js/header-bar.js"></script>

        {% block extraScripts %}{% endblock extraScripts %}
    </head>

    <body>
        <div id="header-bar-anchor" aria-hidden="true">
            <!-- This acts as a reference point so the nav bar knows when it has scrolled away from the top of the page. -->
        </div>

        <header id="header-bar">
            <!-- Nav bar displayed at the top of the screen -->

            <nav>
                <ol>
                    <li><a class="link-button" href="/">
                        <!-- Icon credit: https://icon-sets.iconify.design/tabler/home-filled/ -->
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m12.707 2.293l9 9c.63.63.184 1.707-.707 1.707h-1v6a3 3 0 0 1-3 3h-1v-7a3 3 0 0 0-2.824-2.995L13 12h-2a3 3 0 0 0-3 3v7H7a3 3 0 0 1-3-3v-6H3c-.89 0-1.337-1.077-.707-1.707l9-9a1 1 0 0 1 1.414 0M13 14a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883-.993L11 14z"/></svg>
                        <span>Home</span>
                    </a></li>
                    <li><a class="link-button" href="/blog">
                        <!-- Icon credit: https://icon-sets.iconify.design/tabler/bubble-text-filled/ -->
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m12.4 2l.253.005a6.34 6.34 0 0 1 5.235 3.166l.089.163l.178.039a6.33 6.33 0 0 1 4.254 3.406l.105.228a6.334 6.334 0 0 1-5.74 8.865l-.144-.002l-.037.052a5.26 5.26 0 0 1-5.458 1.926l-.186-.051l-3.435 2.06a1 1 0 0 1-1.508-.743L6 21v-2.435l-.055-.026a3.67 3.67 0 0 1-1.554-1.498l-.102-.199a3.67 3.67 0 0 1-.312-2.14l.038-.21l-.116-.092a5.8 5.8 0 0 1-1.887-6.025l.071-.238a5.8 5.8 0 0 1 5.42-4.004h.157l.15-.165a6.33 6.33 0 0 1 4.33-1.963zM14 13H9a1 1 0 0 0 0 2h5a1 1 0 0 0 0-2m3-4H7a1 1 0 1 0 0 2h10a1 1 0 0 0 0-2"/></svg>
                        <span>Blog</span>
                    </a></li>
                    <li><a class="link-button" href="/search">
                        <!-- Icon credit: https://icon-sets.iconify.design/tabler/search/ -->
                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10a7 7 0 1 0 14 0a7 7 0 1 0-14 0m18 11l-6-6"/></svg>
                        <span>Search</span>
                    </a></li>
                </ol>
            </nav>
        </header>

        <main>{% block content %} {% endblock content %}</main>
    </body>
</html>
