<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <!-- TODO: Add more meta tags: https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/meta/name -->
        <meta name="viewport" content="width=device-width,initial-scale=1" />

        <title>Ollie's Website</title>

        <link rel="stylesheet" type="text/css" href="/css/css-reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/misc-variables.css" />

        <link rel="stylesheet" type="text/css" href="/css/theme-dark.css" media="(prefers-color-scheme: dark)" />
        <link rel="stylesheet" type="text/css" href="/css/theme-light.css" media="(prefers-color-scheme: light)" />
        <link rel="stylesheet" type="text/css" href="/css/syntax-theme-dark.css" media="(prefers-color-scheme: dark)" />
        <link rel="stylesheet" type="text/css" href="/css/syntax-theme-light.css" media="(prefers-color-scheme: light)" />

        <link rel="stylesheet" type="text/css" href="/css/main-style.css" />
        <link rel="stylesheet" type="text/css" href="/css/nav-bar.css" />

        <script defer src="/js/nav-bar.js"></script>
    </head>

    <body>
        <div id="nav-bar-anchor" aria-hidden="true">
            <!-- This acts as a reference point so the nav bar knows when it has scrolled away from the top of the page. -->
        </div>

        <nav id="nav-bar">
            <!-- Nav bar displayed at the top of the screen -->

            <ol>
                <li><a class="link-button" href="/">Home</a></li>
                <li><a class="link-button" href="/blog">Blog</a></li>
            </ol>

            <div class="nav-bar-subheading">Current Subheading Here</div>
        </nav>

        <main>{% block content %} {% endblock content %}</main>
    </body>
</html>
