{% extends "base.html" %}

{% block pageTitle %}{{ page.title }} | {{ config.title }}{% endblock pageTitle %}

{% block description %}{{ page.description }}{% endblock description %}

{% block extraStyle %}
<link rel="stylesheet" type="text/css" href="/css/blog-article.css" />
{% endblock extraStyle %}

{% block content %}
<article>
    {{ page.content | safe }}
    <footer>
        <ul>
            <li class="footer-comment">If you have any questions, feedback, or corrections please feel free to contact me at: <a href="mailto:{{ config.extra.contact_email }}">{{ config.extra.contact_email }}</a>.</li>
            <li><strong>Published: </strong><em>{{ page.date }}</em></li>
            <li class="article-updates">
                <strong id="article-updates-heading">Updates:</strong>
                <ol aria-labelledby="article-updates-heading">
                    {% if page.extra.updates %}
                    {% for update in page.extra.updates | sort(attribute="date") %}
                    <li><em>{{ update.date }}</em>: {{ update.change_note }}</li>
                    {% endfor %}
                    {% else %}
                    <li>No updates</li>
                    {% endif %}
                </ol>
            </li>
        </ul>
    </footer>
</article>
{% endblock content %}
