{% extends "base.html" %}

{% block extraStyle %}
<link rel="stylesheet" type="text/css" href="/css/page-list.css" />
{% endblock extraStyle %}

{% block content %}
<h1>{{ section.title }}</h1>
<ol class="page-list" aria-label="Blog posts">
    {% for page in section.pages %}
    <li>
        <a href="{{ page.permalink | safe }}">
            <div class="page-list-title">{{ page.title }}</div>
            {% if page.description %}
            <div class="page-list-desc">{{ page.description | markdown(inline=true) | safe }}</div>
            {% endif %}
            <div class="page-list-metadata">
                <div>Published on {{ page.date }}</div>
                <div>Reading time: {{ page.reading_time }} minute{% if page.reading_time > 1 %}s{% endif %}</div>
            </div>
        </a>
    </li>
    {% endfor %}
</ol>
{% endblock content %}
