{% extends "base.html" %}

{% block pageTitle %}{{ config.title }}: Blog{% endblock pageTitle %}

{% block content %}
<h1>{{ section.title }}</h1>
<ol class="important-list-box" aria-label="Blog posts">
    {% for page in section.pages %}
    <li>
        <a href="{{ page.permalink | safe }}" class="card">
            <div class="card-title">{{ page.title }}</div>
            {% if page.description %}
            <div class="card-content">{{ page.description | markdown(inline=true) | safe }}</div>
            {% endif %}
            <ul class="card-info">
                <li>Published on {{ page.date }}</li>
                <li>Reading time: {{ page.reading_time }} minute{% if page.reading_time > 1 %}s{% endif %}</li>
            </ul>
        </a>
    </li>
    {% endfor %}
</ol>
{% endblock content %}
