{% extends "base.html" %}

{% block pageTitle %}Project: {{ page.title }} | {{ config.title }}{% endblock pageTitle %}

{% block extraStyle %}
<style>
    #header-bar {
        /* This is a bit of a hack, but I don't want the header bar visible on this page and this was the easiest way I could think to do it */
        display: none;
    }
</style>
{% endblock extraStyle %}

{% block head %}
<!-- I do not want search engines indexing this page as it is just a redirect page -->
<meta name="robots" content="noindex">

<meta http-equiv="refresh" content="0; url=/projects#project-{{ page.slug }}" />
<script type="text/javascript">
    window.location.href = "/projects#project-{{ page.slug }}"
</script>
{% endblock head %}

{% block content %}
<!-- The purpose of this page is to redirect the user to the appropriate place in the projects list. This is needed because users may end up on this page via the search function. -->

<h1>Redirect: {{ page.title }}</h1>
<p class="important-centred-text">You should be automatically taken to the projects list page.</p>
<p class="centred-text">If you are not redirected automatically, please follow <a href="/projects#project-{{ page.slug }}">this link</a>.</p>
{% endblock content %}
