{% extends "base.html" %}

{% block pageTitle %}{{ config.title }}: Projects{% endblock pageTitle %}

{% block content %}
<h1>{{ section.title }}</h1>
<p class="centred-text">
    Here are a few of the more notable, interesting, and complete personal projects I have worked on.
</p>
<p class="centred-text">
    Very approximately ordered with the newest first:
</p>
<ol class="important-list-box" aria-label="My projects">
    {% for project in section.pages | reverse %}
    <li>
        <details id="project-{{ project.slug }}" class="card">
            <summary>
                <div class="card-title">{{ project.title }}</div>
                <div class="card-summary">{{ project.description }}</div>
            </summary>
            <div class="card-content">
                {{ project.content | safe }}
            </div>
        </details>
    </li>
    {% endfor %}
</ol>
{% endblock content %}
